:root {
    --color-secondary: #FBFBFB;
    --color-secondary-light: #EDF3F8;
    --color-secondary-transparent: #fbfbfb48;
    --drag-over-color: #D8DFE9;
    --drag-over-background: #065bca15;
    --color-input-background: #f2f5fb;
    --color-input-border: #d6d7da;
    --font-color: #2B384D;
    --font-color-light: #818591;
    --color-primary: #2288E5;
    --color-primary-light: #2287e521;
    --color-primary-white: #96cafc;
    --color-primary-dark: #1a487d;
    --color-accent: #0bb380;
    --color-accent-light: #0bb3811c;
    --color-tirtiary: #ffa600;
    --color-tirtiary-light: #ffa60027;
    --color-error: #f15609;
    --border-color: #e6e9f0;
    --popup-background: rgba(54, 55, 73, 0.411);
    --smooth-shadow: 0 10px 16px rgba(11, 13, 19, 0.623);
    --color-dark-background: #060A0E;
    --color-dark-background-transparent: #060a0e44;
    --color-dark-background-skeleton: #222f3b;
    --color-dark-background-light: #161f27;


    --smooth-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}
